$green: #61A734;
$ligthgray: rgb(156, 153, 153);
$gray: #263238;
$tomato:#FF5A00;
$white:#FFFFFF;
$ligthblack:#333333;

$text:'Open Sans';
$title: 2em;
$title-md: 2.5em;
$title-lg: 3.5em;
$subtitle: 1em;
$subtitle-lg: 1.25em;
$parrafo: .8em;
$parrafo-lg: .95em;
