@import './variables';

*{
    padding: 0;
    margin: 0;
}

body,html{
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden;
}

.navbar{
    margin: 0 !important;
    min-height: 10vh;
    width: 100%;
    background-color: $white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 1px 0 lighten($color: $gray, $amount: 40%);
    padding: 0 15px;

    &_logo{
        max-height: 55px;
        padding: 0 10%;
    }

    &_burger {
        cursor: pointer;
        color: $gray;
    }
    
    nav.menu{
        align-items: center;
        padding: 0;
    }
    .menu{
        margin-top: 1px;
        font: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;

        &-item{
            padding: 5px 0;
        }
    }
    .menu-item {
        display: flex;
        justify-content: center;
        padding: 5px 0;
    }
}
.banner{
    margin-top: 10vh;
    height: 85vh;
    justify-content: center;
    background-color: $gray;
    padding: 0 20px;

    &__title{
        font-size: $title;
        margin-bottom: 15px;
        color: $white;
    }

    &-img{
        width: 275px;
        height: 160vh;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../images/banner.png)
    }

    &-item{
        width: 65%;
        position: absolute;
        top: 28%;
        left: 15%;
        padding: 0 15px;
    }


}
.features{
    margin-top: 5vh;
    padding:  30px 20px;

    &__header {
        flex-direction: column;
        justify-content: center;
    }

    &-content{
        justify-content: center;
        margin: 50px;

        &-img{
            height: 50px;
            width: 50px;
            background-position: center center;
            background-size: cover;
            background-image: url(../images/checked.png)
        }
    }
}
.grid{
    background-color: $gray;
    overflow: hidden;
    justify-content: space-around;

    &-content{
        padding: 50px 25px;
    }
}

.work{
    margin-top: 5vh;

    &__cards {
        margin: 25px 0;

        &-links {
            margin-top: 10px ;
        }

        &-content {
            margin: 5px 0;
        }
    }
}

.blog{
    margin-top: 5vh;
    padding: 20px;

    &-grid_content {
        margin: 25px 0;
    }
}

.banner_two {
    background-color: $gray;
    padding: 20px;
    align-items: center;

    &__buttons {
        height: 50px;
    }
}

.banner-three {
    background-color: $gray;
    padding: 20px;
}

.loaders {
    margin-top: 5vh;
    padding: 20px;
}

.footer {
    min-height: 40vh;
    margin-top: 10vh;
    background-color: $gray;

    &-info{
        min-height: 40vh;
        padding: 30px;
    }

    &-content {
        margin: 10px 0;
    }

    &-social {
        margin: 5px 10px;
    }

    &-bottom {
        margin: 0 !important;
        padding: 15px;
        height: 6vh;
        background-color: #37474f;

        &-bottom-img {
            padding: 0 0 0 50%;
        }

        &__links {
            visibility: hidden;
        }
    }

}

.item {
    &__title{
        font-weight:700;
        font-size: $title;
        margin-bottom: 15px;
        color:$gray;
    }

    &__subtitle{
        font-size: $subtitle;
        color: $gray;
        margin: 5px;
    }

    &-content{
        font-size: $parrafo;
        color: $ligthgray;
        margin-bottom: 15px;
    }

    &__button-green{
        display: flex;
        justify-content: center;
        padding: 5px 20px;
        background-color: $green;
        font-size: 1em;
        color: $white;
    }

    &__button{
        display: flex;
        justify-content: center;
        padding: 5px 20px;
        background-color:transparent;
        border: 2px solid #37474f;
        font-size: 1em;
        color: $white;
    }

    &-text{
        font-size: .7em;
        color: $white;
        margin: 5px;
    }

    &-link{
        margin: 5px;
        font-size: .8em;
        color: $ligthgray;
    }

    &__card-img, &__card-img-blog{
        max-width: 100%;
        min-height: 250px;
        background-color: $gray;
        margin: 0 !important;
    }
    
    &__card-img-blog {
        min-height: 300px;
    }

    &-logo {
        width:40px;
        height:40px;
        border-radius:50%;
        border: solid 1px white;
        overflow:hidden;
        color: $white;
    }
}

button{
    border: 0;
}
ul{
    list-style: none;
}
.fa-image{
    color: $white;
}

.chart {
    position: relative;
    display: inline-block;
    color: #999;
    font-size: 20px;
    text-align: center;

    & figcaption{
        padding: 50px 25px;
        width: 100px;
        height: 40px;
        border-radius: 100px;
        line-height: 50px;
    }

    & svg {
        position: absolute;
        top: -20px;
        left: -20px;
    }

    &[data-percent='90'] .outer {
        stroke-dashoffset: 130;
        -webkit-animation: show90 5s;
        animation: show90 5s ;
    }

    &[data-percent='85'] .outer {
        stroke-dashoffset: 140;
        -webkit-animation: show85 5s;
        animation: show85 5s ;
    }

    &[data-percent='80'] .outer {
        stroke-dashoffset: 145;
        -webkit-animation: show80 5s;
        animation: show80 5s ;
    }

    &[data-percent='70'] .outer {
        stroke-dashoffset: 160;
        -webkit-animation: show70 5s;
        animation: show70 5s ;
    }
}

.outer {
    fill: transparent;
    stroke: $gray;
    stroke-width: 5;
    stroke-dasharray: 392;
    -moz-transform: rotate(-89deg) translateX(-190px);
}

@-webkit-keyframes show90 {
    from {
      stroke-dashoffset: 392;
    }
    
    to {
      stroke-dashoffset: 130;
    }
}

@-webkit-keyframes show85 {
    from {
      stroke-dashoffset: 392;
    }
    
    to {
      stroke-dashoffset: 140;
    }
}

@-webkit-keyframes show80 {
    from {
      stroke-dashoffset: 392;
    }
    
    to {
      stroke-dashoffset: 145;
    }
}

@-webkit-keyframes show70 {
    from {
      stroke-dashoffset: 392;
    }
    
    to {
      stroke-dashoffset: 160;
    }
}

@media only screen and (min-width: 768px) {
    .banner {
        justify-content: flex-end;
        padding-top: 10px ;
        height: 90vh;

        &-item {
            width: 40%;
            position: absolute;
            top: 35%;
            left: 6%;
        }
        &-img{
            min-width: 100px;
            height: 550px;
            background-position: top right;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../images/banner.png)
        }
    }
    .blog {
        &-grid {
            padding: 20px;
        }
    }
    .item{
        &__title {
            font-size: $title-md;
        }
    }
    .footer {
        &-bottom {

            &-img  {
                display: flex;
                justify-content: center;
            }
            &__links {
                visibility: visible;
            }
            .content-links {
                padding: 0 0 0 35%;
            }
        }
    }

}
@media only screen and (min-width: 1024px) {
    .banner {
        padding: 10%;
        &-img{
            width: 230px;
            height: 450px;
            background-position: top right;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../images/banner.png)
        }
    }
    ul.menu__list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .work {
        &__cards {
            padding: 5px 50px;
        }
    }

    .blog {
        &-grid {
            padding: 50px;
        }
    }

    .item{
        &__title {
            font-size: $title-lg;
        }
        &__subtitle {
            font-size: $subtitle-lg;
        }
        &__card-img{
            min-height: 209px;
        }
        
        &-content{
            font-size: $parrafo-lg;
        }
    }
    .item__card-img-blog, .content {
        height: 150px;
        min-height: 50px;
        width: 150px;
    }
}